.boxTask2 {
  border: 1px solid #c1c2c469;
  margin: 15px;
  border-radius: 10px;
}

.topBox2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fcfcfd;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #c1c2c469;
}
.alignItemsL2 {
  display: flex;
  flex-direction: column;
}
.fa-check {
    color: #fcfcfd;
    margin-right: 4px;
}
.alignItemsL2 h4 {
  margin: 0 0 0 10px;
  font-size: 16px;
}
.activity2 span {
  margin-left: 10px;
  font-size: 13px;
  color: #98a2b3;
  cursor: default;
}
.MediunBox2 {
  padding: 15px 20px;
  border-bottom: 1px solid #c1c2c469;
}
.MediunBox2 span:nth-child(1) {
  background-color: rgba(135, 211, 48, 0.562);
  padding: 6px;
  border: 1px solid rgb(43, 255, 0);
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}
.MediunBox2 span:nth-child(2) {
  background-color: #e9e9e9;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #b9b9b9;
}
