/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74); /* Color oscuro con opacidad */
    z-index: 1; /* Para asegurarte que está por debajo del formulario */
}

/* Formulario */
.formCreateUser {
    padding: 50px;
    position: absolute;
    left: 78%;
    top: 50%;
    border-radius: 10px 0 10px 10px;
    transition: 900ms;
    z-index: 15;
    background-color: white; /* Fondo blanco para el formulario */
}

.formCreateUser input {
    padding: 10px;
    width: 200px;
    margin-bottom: 14px;
    border-radius: 7px;
    border: 1px solid gainsboro;
    transition: 400ms;
}

.formCreateUser input:focus {
    outline: none;
    border: 1px solid #55e;
    border-radius: 1px;
}

.formCreateUser button {
    margin-bottom: 6px;
    background-color: #55e;
    color: #fafafa;
    transition: 200ms ease-in-out;
}

.formCreateUser button:hover {
    border-radius: 2px;
    font-size: 13px;
    background-color: rgba(42, 42, 82, 0.705);
}

.errorText {
    font-size: 5px;
    color: red;
}