.boxTask1 {
  border: 1px solid #c1c2c469;
  margin: 15px;
  border-radius: 10px;
}
.topBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fcfcfd;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #c1c2c469;
}
.alignItemsL {
  display: flex;
  flex-direction: column;
}
.alignItemsL h4 {
  margin: 0 0 0 10px;
  font-size: 16px;
}
.activity span {
  margin-left: 10px;
  font-size: 13px;
  color: #98a2b3;
  cursor: default;
}
.MediunBox {
  padding: 15px 20px;
  border-bottom: 1px solid #c1c2c469;
}
.MediunBox span:nth-child(1) {
  background-color: rgba(185, 71, 71, 0.562);
  padding: 6px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 10px;
}
.MediunBox span:nth-child(2) {
  background-color: #e9e9e9;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid#b9b9b9;
}
.fa-spinner {
  color: #f7f7f7;
}

.task-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-header h3 {
  margin: 0;
}

.task-info span {
  margin-right: 15px;
  font-size: 14px;
}

.status {
  display: flex;
  align-items: center;
}

.status .badge {
  background-color: #f4b400;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  padding: 11px 20px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 12px;
}

.task-table thead {
  background-color: #fcfcfd;
}

tr {
  color: #667085;
  font-size: 14px;
}

.priority {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.priority.normal {
  color: #4285f4;
  background-color: #e8f0fe;
}
